/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Google Sans Regular";
  box-sizing: border-box;
}
body {
  background: white;
  /* min-height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  /* overflow: scroll; */
  
}
.main {
  /* min-width: 100vh; */
  /* display: flex; */
  min-height: calc(100vh - 95px);
  /* margin-bottom: 50px; */

}
/* .home {
  background-color: black;
} */
h1{
  color: white;
}
.head {
  width: 100%;
  height: 80px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: sticky;
  top: 0;

}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}
.hamburger {
  display: none;

}
/*display the list elements next to each other*/
.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover {
  color: black;
  background-color: white;
  
}
.nav-bar ul li a.active {
  color: black;
  background-color: white;
}
/*responsive*/
@media only screen and (max-width: 1320px) {
  header {
      padding: 0 50px;
  }
}
@media only screen and (max-width: 1100px) {
  header {
      padding: 0 30px;
  }
}
/*header if the screen size is too small*/
@media only screen and (max-width: 900px) {
  /*forming the lines*/
  .hamburger {
      display: block;
      cursor: pointer;
  }
  /*forming the lines*/
  .hamburger .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 6px 0;
  }
  /*moving and changing the nav-bar to its new position*/
  .nav-bar {
      /* display: none; we dont want to hide it */
      /*height to 0 because we only show it when the butto is clicked*/
      height: 0;/*350px*/
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100vw;
      background: black;
      transform: 0.5s;
      overflow: hidden;
  }
  .nav-bar.active {
      /* height: 350px; */
      height: auto;
      opacity: 1;
  }
  .nav-bar ul {
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      /*add opacity and make it 0 to hide it*/
      opacity: 0;
  }
  /*make it visible*/
  .nav-bar.active ul {
      opacity: 1;
  }
  /*add space between the menu options*/
  .nav-bar ul li a {
      margin-bottom: 12px;
  }
}
/* .contact.active:hover {
  background-color: rgba(0, 136, 169, 0.5);

} */
/*download cv button*/
.cv {
  padding: 9px 25px;
  /*related to opacity rgba*/
  background-color: rgb(245, 241, 6);
  color: rgba(0, 136, 169, 1);
  /* border: none; */
  border-radius: 50px;
  border-color: antiquewhite;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  span {
      transition: all 0.3s ease 0s;
  }
}

.main {
  background-color: blue;
}
/*--------footer------------*/
.footer {
  background-color: forestgreen;
}
body {
  background-color: brown;
}
